.topnav {
    background-color: #5C5465;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #8C809B;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #8F68C1;
    color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}  
 
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hero-slide { 
  width: 
}

.row {
  width: 100%;
  float: 
}

.columns_3 {
  width: 28%;
}

h1 {
  font-family: 'Song Myung', serif;
}

h2 {
  font-family: 'Song Myung', serif;
}

h3 {
  font-family: 'Cabin', sans-serif, bold;
}

p {
  font-family: 'Cabin', sans-serif;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
  background-color: #E1DAE3;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #877093;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #9a7caa;
}

/* Add a background color and some padding around the form */
.form {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

footer {
  width: 50%;
  overflow: hidden;
  background-color: ;
  margin-bottom: 0;
  text-align: center;
}

footer a:link {
  color: #7F7F7F;
  text-decoration: none;
  outline: 0;
}

footer a:visited {
  color: #7F7F7F;
  text-decoration: none;
  outline: 0;
}

footer a:hover {
  color: #ffffff;
}

#icon-font {
  width: 100%;
  padding: 50px 0;
  background-color: #8C809B;
}

#icon-font p {
  text-align: center;
  margin: 0;
  color: #C0A9CB;
}

#icon-font .icons {
  font-family: "cl-icons";
  text-align: center;
  font-size: 3em;
  line-height: 1.5;
  color: #484152;
}

#campaign {
  text-align: justify;
  padding: 50px 50px 50px 50px; 
}
#campaign img {
  display: inline-block;
  width: 200px
}

#container {
  color: #dc96ff;
  padding: 50px;
}

#about {
  padding: 50px 50px 50px 0;
  background-color: #a889b7;
  font color: #F7F7F7;
}

#icon-font .icons {
  font-family: "cl-icons";
  text-align: center;
  font-size: 3em;
  line-height: 1.5;
  color: #484152;
}

.type-overlay h1{
  font-weight: 100;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100%;
  z-index: 5;
  text-align: left;
  color: #877093;
}

.ads {
  float: center;
}

#articles {
  width: 240px;
  background-color: white;
  padding: 25px 40px 25px 25px ;
  margin:
}

#news {
 width: 1150px;
 background-color: #BDA9C7;
    padding:  30px 25px 20px;
    margin: 25px;
  float: left;
}

/* Style buttons */
.btn {
  background-color: #877093;
  border: none;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #9a7caa;
}

iframe {
  padding: 40px;
  border-style: solid;
  border-width: 10px;
  border-color: #594f64; 
}

#contact {
  width: 900px;
    padding: 25px;
    margin: 25px;
  align: center;

}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 1px 5px 4px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@font-face {
  font-family: 'cl-icons';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1452963/cl-icons.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1452963/cl-icons.eot#iefix') format('embedded-opentype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1452963/cl-icons.woff') format('woff2'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1452963/cl-icons.woff2') format('woff'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1452963/cl-icons.ttf') format('truetype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1452963/cl-icons.svg#cl-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}